{% extends "layout_external.html" %}
{% block page_title %}
	About Us
{% end %}
{% block page_subtitle %}
	Who are we and what we're solving
{% end %}
{% block content %}
<h3>Easing your dining experience</h3>
<p>
YourTable simplifies the process of splitting bills by providing users with an easy way to catalog receipt items and handle payments. Take a picture of the receipt on your phone and we instantly return a listing of all the items in the order. We then give you the ability to selectively check and group certain items into a partial bill. Enter your friend's phone number and we send a text to their mobile device with the amount they owe, tip suggestions, and a link to pay for their portion. One person at the table volunteers to pick up the bill and gets reimbursed immediately.
</p>

<h3>Giving you healthy suggestions within your price range</h3>
<p>
The more you use the application, the more insight we have about your eating habits. This allows us to provide you with suggestions to restaurants and dishes, wherever you are, that not only fits your apetite but your pocket!
</p>
{% end %}
