{% extends "layout_external.html" %}
{% block page_title %}
	Easily split the bill when you're out with a bunch of friends
	<h3>Monitor your spending and dietary habits; let us suggest to you affordable and healthy food options.</h3>
{% end %}
{% block page_subtitle %} {% end %}
{% block content %}
<div class="bucket row show-grid">
	<div class="span4 col1">
		<h2>What we're solving</h2>
		<div class="bucket-image"></div>
		<p>Out at dinner with a bunch of friends and forgot to split the bill? Don't throw your credit card or cash in the middle of the table. Let us help you solve the hassle of dividing and paying for the bill.</p>
	</div>
	<div class="span4 col2">
		<h2>How we're solving it</h2>
		<div class="bucket-image"></div>
		<p>Take a picture of the receipt with your mobile device. All food items in the receipt are placed in a table where you can check off your friend's meal items. Provide your friend's phone number and we'll text them their portion of the bill along with a way to pay you.</p>
	</div>
	<div class="span4 col3">
		<h2>Why we're solving it</h2>
		<div class="bucket-image"></div>
		<p> You take care of the bill and also get reimbursed on the spot! Use the application and we can suggest restaurants and entrees to you based on your eating and spending habits, no matter where you are.</p>
	</div>
</div>

<div id="learn_more" class="row">
	<div class="span8">
		<p>Allow us to make educated suggestions about where and what you should eat.</p>
	</div>
	<div class="span4">
		<a href="/about" class="btn btn-primary">Find out more</a>
	</div>
</div>
{% end %}
