{% extends "layout_common.html" %}
{% block header_include %}
	<link href="/static/css/app_external.css" rel="stylesheet"> 
{% end %}
{% block navigation %}
	<ul class="nav"> 
		<li>
			<a href="/">
				<i class="icon-home icon-white"></i>
				Home
			</a>
		</li>
		<li>
			<a href="/public/about">
				<i class="icon-info-sign icon-white"></i>
				About Us
			</a>
		</li>
		{% if 0 %}
			<li>
				<a href="/public/team">
					<i class="icon-user icon-white"></i>
					The Team
				</a>
			</li>
		{% end %}
		<li>
			<a href="/login">
				<i class="icon-lock icon-white"></i>
				Login
			</a>
		</li>
	</ul>
{% end %}
