{% extends "layout_common.html" %}
{% block header %}
	<link href="/static/css/app_internal.css" rel="stylesheet"> 
{% end %}
{% block navigation %}
	<ul class="nav"> 
		<li>
			<a href="/dashboard">
				<i class="icon-home icon-white"></i>
				Dashboard
			</a>
		</li>
		<li>
			<a href="/history">
				<i class="icon-bookmark icon-white"></i>
				Dining History
			</a>
		</li>
		<li>
			<a href="/recommendations">
				<i class="icon-map-marker icon-white"></i>
				Recommendations
			</a>
		</li>
		<li>
			<a href="/settings">
				<i class="icon-cog icon-white"></i>
				Settings
			</a>
		</li>
		<li>
			<a href="/logout">
				<i class="icon-off icon-white"></i>
				Logout
			</a>
		</li>
	</ul>
{% end %}
