<!DOCTYPE html>
<html>
	<head>
		<title>YourtablE</title> 
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"> 
		{% block header %} {% end %}
	</head>
	<body> 
		<div class="navbar navbar-fixed-top"> 
			<div class="navbar-inner"> 
				<div class="container"> 
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
					</a>
					<a class="brand" href="/"><span>Y</span><span class="brand_tag">ourtab</span><span>le</span></a>
					<div class="nav-collapse"> 
						{% block navigation %} {% end %}
					</div>
				</div>
			</div> 
		</div> 
		<div class="container">
			<section id="content">
				<div class="page-header">
					<h1>{% block page_title %} {% end %}</h1>
					<h3>{% block page_subtitle %} {% end %}</h3>
				</div>
				<div class="row">
					<div class="span12">
						{% block content %} Default {% end %}
					</div>
				</div>
			</section>
			<footer class="footer">
				<p class="pull-right"><a href="#">Back to top</a></p>
				<p>Copyright &copy; 2012 ytbl.co </p>
			</footer>
		</div>
	</body>
</html>
