{% extends "layout_external.html" %}

{% block page_title %}
	Meet the Team!
{% end %}
{% block page_subtitle %}
	Get to know the minds behind YourTable
{% end %}

{% block content %}
	<h2>Who are we</h2>
	<p>
	The idea behind YourTable is brought together by a team of three technologists with an entreprenurial mindset from the DC area.  The team features: The Javascriptographer: Dominick Pham, The Back End-Code Monkey: Sean Reed and the Everything-besides-hacking Guy: Steve Eyring.
	</p>

	<h2>Meet the Members</h2>
	<ul>

	</ul>

	<h2>The Technology</h2>
{% end %}
