@import 'base.less';


//============== HOMEPAGE ===============
.bucket-image {
	width: 300px;
	height: 198px;
	margin: 5px 0;
	.box-shadow(inset 0 0 12px #000);
}
.col1 .bucket-image { background: url("/static/images/bucket-s1.png"); }
.col2 .bucket-image { background: url("/static/images/bucket-s2.png"); }
.col3 .bucket-image { background: url("/static/images/bucket-s3.png"); }
