body {
  background-color: #ccc;
}
#content {
  margin-top: 62px;
}
.brand span.brand_tag {
  color: #bbb;
}
.brand:hover span {
  visibility: hidden;
}
.brand:hover span.brand_tag {
  visibility: visible;
}
.navbar .nav {
  float: right;
}
.footer {
  border-top: 1px solid #E5E5E5;
  padding: 35px 0 36px;
  margin-top: 45px;
}
.bucket .bucket-image {
  width: 300px;
  height: 198px;
  margin: 12px 0;
  -moz-box-shadow: inset 0 0 12px #000000;
  -webkit-box-shadow: inset 0 0 12px #000000;
  box-shadow: inset 0 0 12px #000000;
}
.bucket .col1 .bucket-image {
  background: url("/static/images/bucket-s1.png");
}
.bucket .col2 .bucket-image {
  background: url("/static/images/bucket-s2.png");
}
.bucket .col3 .bucket-image {
  background: url("/static/images/bucket-s3.png");
}
.bucket p {
  line-height: 24px;
}
#learn_more {
  background: #aaa;
  padding: 5px 0 3px;
  margin-top: 20px;
}
#learn_more .span8 p {
  font: normal 20px/22px arial narrow;
}
