.box-shadow(@val) {
	-moz-box-shadow: @val; 
	-webkit-box-shadow: @val; 
	box-shadow: @val;   
}

.border-radius(@radius) {
  -moz-border-radius: @radius; 
 -webkit-border-radius: @radius; 
         border-radius: @radius;
}

.gradient-background(@start, @stop) {
  background-color: @start;
  background-image: -moz-linear-gradient(top, @start, @stop); 
  background-image: -o-linear-gradient(top, @start, @stop); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, @start),color-stop(1, @stop)); 
  background-image: -webkit-linear-gradient(@start, @stop); 
  background-image: linear-gradient(top, @start, @stop);
  /*filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='@{start}', EndColorStr='@{stop}')";*/
}

body {
	background-color: #ccc;
}

.page-header h3 { margin-top: 8px; }

#content {
	margin-top: 62px;
}

.brand span.brand_tag {
	color: #bbb;
}
.brand:hover {
	span { visibility: hidden; }
	span.brand_tag { visibility: visible; }
}

.navbar .nav { float: right; }
.footer {
	border-top: 1px solid #E5E5E5;
	padding: 35px 0 36px;
	margin-top: 45px;
}
